<div class="container">
  <div class="card">
    <div class="card-header"><strong>Contacts</strong></div>
    <div class="card-body overflow:auto">
      <div class="form-group">
        <label>Mot clé: </label>
        <input type="text" [(ngModel)]="motCle" class="form-control">
        <button class="btn btn-primary spacer" (click)="chercher()">Chercher</button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>DateNaissance</th>
          <th>Email</th>
          <th>Tel</th>
          <th>Photo</th>
        </tr>
        <tr *ngFor="let c of (pageContacts?(pageContacts.content?pageContacts.content:pageContacts):pageContacts)">
          <td>{{c.id}}</td>
          <td>{{c.nom}}</td>
          <td>{{c.prenom}}</td>
          <td>{{c.dateNaissance}}</td>
          <td>{{c.email}}</td>
          <td>{{c.tel}}</td>
          <td>{{c.photo}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>